:root {
    /* FONTS */
    --BODY-FF: 'Open Sans', sans-serif;
    --HEADERS-FF: 'Raleway', sans-serif;

    /* COLORS */
    --BLUE: hsl(240, 100%, 50%);
    --BRIGHT-BLUE: hsl(224, 93%, 58%);
    --CRIMSON: hsl(348, 83%, 47%);
    --DESATURATED-BLUE: hsl(238, 22%, 44%);
    --FLAT-BLACK: hsla(0, 0%, 0%, 0.6);
    --LIGHT-GRAY: hsl(0, 0%, 75%);
    --LIGHT-GRAYISH-BLUE: hsl(240, 75%, 98%);
    --MODERATE-CYAN: hsl(170, 45%, 43%);
    --VERY-DARK-BLUE: hsl(243, 87%, 12%);
    --VIOLET: hsl(300, 76%, 72%);
    --WHITE: hsl(0, 0%, 100%);
}